.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: 1px black solid;
    border-radius: 15px;
    width: 40vw;
    margin:2vh;
    padding: 2vh;
}
button{
    border:1px black solid;
    border-radius: 5px;
    background: lavender;
}
h2{
    margin-bottom: 6vh;
    text-align: center;
}