.user{
    border: 1px black solid;
    width:25vw;
    margin:1.5vh 3vh 1vh 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
button{
    height:3vh;
    width:5vw;
    margin:1vh;
}
h3{
    margin:0;
}
h4{
    margin:2vh;
}