.container{
    display: flex;
    justify-content: center;
}
.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    scroll-behavior: smooth;
}

